@import "_re-usables/mixins";
@import "_re-usables/variables";

::selection{
  background-color: $text-color;
  color: $bg-color;
}

#root{
  height: 100%;
  width: 100%;

}

html{
  font-size: 2vw;

  @media only screen and (max-width: 900px) {
    font-size: 2.5vw;
  }
}

body{
  //background-color: $bg-color;
  color: $text-color;
  background: url("../assets/curves.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin: 0;
  padding: 0;

  overflow: hidden;

  @include flex(column, center, center);

  //font-family: "argent-pixel-cf", sans-serif;

  font-family: "argent-pixel-cf", sans-serif;
  //font-family: "scale-variable", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@import "navigation/nav";

@import "pages/home/home";

@import "pages/projects/projects";

@import "pages/skills/skills";

#main-section {
  height: 70vh;
  width: calc(100% - var(--nav-width));
  @include flex(column);
}

h2{
  font-size: 3vw;
  font-weight: 300;
  margin: 0;
}

#construction-popup{
  position: absolute;
  @include flex(column, center, center, 1rem);
  backdrop-filter: blur(10px) brightness(50%);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;

  h3, p{
    margin: 0;

  }
  button{
    font-size: 0.5em;
    font-family: "argent-pixel-cf", sans-serif;

    border: none;
    background: none;
    text-decoration: none;
    padding: 0.4em 0.6em;

    position: relative;
    cursor: pointer;

    @include buttonComponent(0.2em);
  }
}

#hoverText{
  position: absolute;
  font-size: .5rem;

  border-radius: 0.2em;
  background: $acc-color;
  color: $text-color;
  padding: 0.4em 0.6em;
  z-index: 10000;
  opacity: .5;
}

#footer{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.5rem;
  padding: 0.5em 0.7em;
  opacity: 0.2;
}

.window{
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.21);
  @include flex(column);

  background-color: $bg-color;

  border-radius: 0.3em;
  width: 50vw;
  height: 60vh;
  animation: ease-in popOut 200ms;
  transition: width 300ms, height 300ms ;

  &.fullscreen{
    width: 100vw;
    height: 100vh;
    transform: translate3d(0, 0, 0);
  }

  .header {
    @include flex(row, space-between);
    font-size: 1rem;
    width: 100%;
    height: 12%;
    padding: 0 1em;
    box-sizing: border-box;

    button{
      border-radius: 100%;
      width: 0.8em;
      aspect-ratio: 1/1;

      border: none;
      cursor: pointer;

      &#close{
        background-color: $acc-color;
      }

      &#nothing{
        background-color: #2d2d2d;
        margin-left: 0.5em;
      }

      &#maximize{
        background-color: #28f42b;
        margin-left: 0.5em;
      }

      &:hover{
        opacity: 0.8;
      }
    }
    p{
      color: rgba(255, 255, 255, 0.73);
      font-size: 0.8rem;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $acc-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, $acc-color, 20% transparent);
}