@import "_re-usables/mixins";
@import "_re-usables/variables";




::selection{
  background-color: $text-color;
  color: $bg-color;
}

/*#root{
  height: 100%;
  width: 100%;
}*/

body{
  //background-color: $bg-color;
  color: $text-color;
  background: url("../assets/curves.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin: 0;
  padding: 0;


  overflow: hidden;

  @include flex(column, center, center);

  font-size: 3vw;

  //font-family: "argent-pixel-cf", sans-serif;

  font-family: "argent-pixel-cf", sans-serif;
  //font-family: "scale-variable", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@import "navigation/nav";

@import "pages/home/home";

@import "pages/projects/projects";

@import "pages/skills/skills";

#main-section {
  height: 70vh;
  width: calc(100% - var(--nav-width));
  @include flex(column);
}

h2{
  font-size: 3vw;
  font-weight: 300;
  margin: 0;
}

#construction-popup{
  position: absolute;
  @include flex(column, center, center, 1rem);
  backdrop-filter: blur(10px) brightness(50%);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;



  h3, p{
    margin: 0;

  }
  button{
    font-size: 0.5em;
    font-family: "argent-pixel-cf", sans-serif;

    border: none;
    background: none;
    text-decoration: none;
    padding: 0.4em 0.6em;

    position: relative;
    cursor: pointer;

    @include buttonComponent(0.2em);
  }
}

#hoverText{
  position: absolute;
  font-size: .8rem;

  border-radius: 0.2em;
  background: $acc-color;
  color: $text-color;
  padding: 0.4em 0.6em;
}