#skills {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.21);
  @include flex(column);

  background-color: $bg-color;
  width: 50vw;
  border-radius: 0.3em;
  height: 60vh;
  animation: ease-in popOut 200ms;

  .header{
    @include flex(row, space-between);
    font-size: 1rem;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    button{
      border-radius: 100%;
      width: 0.8em;
      aspect-ratio: 1/1;

      border: none;
      cursor: pointer;

      &#close{
        background-color: $acc-color;
      }

      &#maximize{
        background-color: #f4c428;
        margin-left: 0.5em;
      }

      &:hover{
        opacity: 0.8;
      }
    }
    p{
      color: rgba(255, 255, 255, 0.73);
    }
  }
  .skills-content{
    @include flex(column, flex-start);
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 1.5rem;

    font-size: 1rem;
    h2{
      font-size: 2em;
      text-align: left;
    }
    p{
      text-align: center;
    }

  }
}

@keyframes popOut {
  50%  {transform: scale(1.05)}
}