#skills {

  .skills-content {
    @include flex(column, flex-start, $gap: 1rem);
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 1.5rem;

    font-size: 1rem;

    h2 {
      font-size: 2em;
      text-align: left;
    }

    #skill-graphs {
      width: 100%;

      h2 {
        text-align: center;

        &:not(h2:first-child) {
          margin-top: 4rem;
        }
      }

      p {
        text-align: center;

        a {
          color: $acc-color
        }
      }

      .skill {
        @include flex(column, $gap: 1rem);
        width: 100%;

        .skill-container {
          width: 100%;
          @include flex(row, $gap: 1rem);

          p:nth-child(3) {
            opacity: .1;
          }

          .skill-graph {
            width: 60%;
            $border-radius: 10em;
            border-radius: $border-radius;
            border: 1px solid rgba(255, 255, 255, 0.05);
            height: 2rem;
            box-sizing: border-box;
            overflow: hidden;
            padding: 0.2rem;
            @include flex(row, space-evenly, $gap: .2rem);

            span {
              width: 100%;
              height: 1.6rem;

              &:first-child {
                border-bottom-left-radius: $border-radius;
                border-top-left-radius: $border-radius;
              }

              &:last-child {
                border-bottom-right-radius: $border-radius;
                border-top-right-radius: $border-radius;
              }
            }

            &#html, &#css {
              span {
                &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                  background-color: $acc-color;
                }
              }
            }

            &#js {
              span:nth-child(1) {
                background-color: $acc-color;
              }
            }

            &#react {
              span {
                &:nth-child(1) {
                  background: linear-gradient(90deg, $acc-color 0%, $acc-color 51%, $acc-color 50%, rgba(44, 20, 28, 0) 50%, rgba(45, 20, 28, 0) 51%, rgba(0, 0, 0, 0) 100%);;
                }
              }
            }
          }
        }

      }
    }

  }
}


@keyframes popOut {
  50%  {transform: scale(1.05)}
}