#nav{

  width: 100%;
  height: 20vh;
  @include flex(row, center, center, 1rem);

  font-size: 1.5rem;

  .nav-link{
    width: 8%;
    height: 80%;
    //border: 1px solid white;

  }
}

#header{
  $header-height: 10vh;
  width: 100%;
  height: $header-height;
  @include flex(row, space-between, center, 1rem);
  font-size: 1rem;

  &_left{
    @include flex(row, center, center, 1rem);
    height: 100%;
  };

  .header-link{
    height: 100%;
    aspect-ratio: 1/1;

    //border: 1px solid white;

  }

  #language-holder{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: $header-height;

    width: 30vw;
    height: 40vh;

    @include flex(column, flex-start, flex-end, 1rem);
    padding: 2vw 2vw;

    a{
      $border-radius: 0.2em;

      font-size: 1rem;

      text-decoration: none;
      padding: 0.4em 0.6em;
      border-radius: $border-radius;

      position: relative;
      cursor: pointer;

      @include buttonComponent($border-radius);

      &.active{
        color: $text-color;
        &:before{
          background-color: $acc-color;
        }
      }
    }

  }
}

.link{
  color: $text-color;
  text-decoration: none;
  @include flex(row, center, center, 1rem);
  text-align: center;

  transition: $transition;
  cursor: pointer;
  &:hover{
    color: $acc-color;
  }

  &:active{
    color: $acc-color;
  }
}