#card{
  @include flex(column);

  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.21);
  width: 40vw;
  max-width: 1000px;
  min-width: 400px;
  height: 40vh;
  padding: 0.4em;
  $border-radius: 0.2em;
  $transperent-border: color-mix(in srgb, $text-color 50%, transparent);

  border-radius: $border-radius + 0.1em;

  transition: 900ms scale 300ms ;

  &:hover{
    transform: scale(1.05);
  }


  &_socials{
    //border: 1px solid $transperent-border;
    box-sizing: border-box;
    @include flex(row, $justify: flex-start, $gap: 0.3em);
    //padding: 0 0.3em;
    border-radius: $border-radius;

    a{
      font-size: 0.5em;

      text-decoration: none;
      padding: 0.4em 0.6em;
      border-radius: $border-radius;

      position: relative;
      cursor: pointer;

      @include buttonComponent($border-radius);


    }
  }

  &_main-content{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    @include flex(row, $gap: 0.4em);


    .photo{
      aspect-ratio: 1/1;
      background: $text-color;
      background-image: url("../assets/avata-redr.webp");
      background-size: contain;
      height: 100%;
      border-radius: $border-radius;
    }
    .bio{
      //border: 1px solid $transperent-border;
      height: 100%;
      width: 100%;
      border-radius: $border-radius;
      font-size: 1rem;
      @include flex(column, flex-start,  flex-end, 2rem);
      h1{
        font-size: 2.5em;
        margin: 0;
      }

      h2{
        font-size: 1em;
        margin: 0;
        opacity: .4;
      }

      span:nth-child(2){
        @include flex(column, flex-start,  flex-end);
        p{
          margin: 0;
          font-size: 1.2em;
        }
      }
    }
  }

  &_socials{
    width: 100%;
    height: 20%;
  }
}