#card{
  @include flex(column, $gap: 0.5em);
  border: 1px solid white;
  width: 50vw;
  max-width: 1000px;
  min-width: 400px;
  height: 45vh;
  padding: 0.4em;
  $border-radius: 0.2em;
  $transperent-border: color-mix(in srgb, $text-color 50%, transparent);

  border-radius: $border-radius + 0.1em;


  &_socials{
    border: 1px solid $transperent-border;


    box-sizing: border-box;
    @include flex(row, $justify: flex-start, $gap: 0.3em);
    padding: 0 0.3em;
    border-radius: $border-radius;

    a{
      font-size: 0.5em;

      text-decoration: none;
      padding: 0.4em 0.6em;
      border-radius: $border-radius;

      position: relative;
      cursor: pointer;

      @include buttonComponent($border-radius);


    }
  }

  &_main-content{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    @include flex(row, $gap: 0.4em);


    .photo{
      aspect-ratio: 1/1;
      background: $text-color;
      background-image: url("../assets/avata-redr.webp");
      background-size: contain;
      height: 100%;
      border-radius: $border-radius;
    }
    .bio{
      border: 1px solid $transperent-border;
      height: 100%;
      width: 100%;
      border-radius: $border-radius;
    }
  }

  &_socials{
    width: 100%;
    height: 20%;
  }
}