@mixin flex($dir, $justify: center, $align: center, $gap: 0, $wrap: nowrap){
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
}


@mixin buttonComponent($border-radius){
  &:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: $border-radius;
    background-color: $text-color;
    z-index: -1;
    transition: $transition;

  }
  &:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    border-radius: $border-radius;
    background-color: $acc-color;
    z-index: -1;
    transition: $transition ease;

  }
  transition: 100ms;
  color: black;
  z-index: 10;

  &:hover{
    &:after{
      width: 100%;
    }

    color: $text-color;
  }
}

@mixin cardComponent(){
  background: rgba(24, 22, 22, 0.91);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.54);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.21);

  border-radius: 0.2em + 0.1em;

  transition: 900ms scale 300ms ;
}