

$text-color: var(--text-color);
$bg-color: var(--bg-color);
$acc-color: var(--accent-color);
$transition: 200ms;

:root{
  --text-color: #fbf9e9;
  --bg-color: #181616;
  --accent-color: #f43028; // #ff3931 #e02525
}