#projects {
  height: 80vh;

  #projects-content{
    @include flex(column, flex-start, $gap: 2rem);
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1vw;

    .project-container{

      border: 1px solid rgba(255, 255, 255, 0.21);
      border-radius: 0.6em;
      @include flex(column, $gap: 1rem);
      padding: 1rem;
      box-sizing: border-box;

      .project-description{
      }

      p{
        margin: 0;
        text-align: left;
      }
      h2{
        font-size: 1.2rem;
        margin: 0;

        i{
          font-size: 1rem;
          opacity: .2;
        }
      }
      a{
        width: 100%;
        aspect-ratio: 16/10;
        cursor: pointer;

        &[data-project="radianthq"]{
          background: url("../assets/radianthq.webp");
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
        }
        &[data-project="portfolio"]{
          background: url("../assets/portfolio.webp");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
        &[data-project="resonance"]{
          background: url("../assets/resonance.webp");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }

      }
      .project-technologies{
        @include flex(row, flex-start, $gap: 1rem, $wrap: wrap);
        width: 100%;
        span{
          font-size: .6rem;
          border-radius: .3em;
          background: $acc-color;
          color: $text-color;
          padding: 0.4em 0.6em;
        }
      }
      p{
        font-size: .6rem;
      }
    }
  }

  &.fullscreen{
    .project-container{
      width: 50%;
    }
  }

  .project-container{
    width: 85%;
  }

}