#projects {
  @include flex(column, $gap: 1rem);
  width: 70vw;
  height: 80vh;
  &_selected{
    width: 100%;
    height: 60%;
    @include flex(row, space-evenly, $gap: 1rem);

    .project{
      opacity: 0;
      width: 50%;
      height: 100%;
      animation: slide-in ease-in-out 400ms forwards;

      &[data-project="2"]{
        animation-delay: 100ms;
      }
      &-holder{
        height: 80%;
        width: 100%;
        border: 1px solid $text-color;
        border-radius: 0.2em;
      }
      &-name{
        font-size: 0.6em;
      }
    }
  }

  &_button {
    $border-radius: 0.2em;

    font-size: 1rem;

    text-decoration: none;
    padding: 0.4em 0.6em;
    border-radius: $border-radius;

    position: relative;
    cursor: pointer;

    @include buttonComponent($border-radius);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}