#projects {
  #projects-content{
    @include flex(column, flex-start, $gap: 1rem);
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 1.5rem;
  }

}